*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  height: 70vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.dropzone{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  margin-bottom: 2rem;
}

.image{
  height: 25rem;
  width: 25rem;
  margin-bottom: 1rem;
}

figure{
  width: 100%;

}

img{
  object-fit: cover;
  width: 100%;
}